/*reset*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*general*/

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

/*buttons*/
.btn{
    
    border-radius: 10px;
    padding: 6px 14px;
    border: none;
}

.black-btn{
    background-color: black;
    color: white;
}

.white-btn{
    background-color: white;
}



/*typography*/
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.5;
}

/*header*/
.header-top{
    background-color: #255ee9;
    padding: 15px 0;
}

.header-bottom{
    background-image: url(../img/jumbo.png);
    padding: 150px 0;
    background-size: cover;
    background-position: center;
}

.header-top > .container{
    display: flex;
    align-items: center;
    
}

.header-top .logo{
    width: 20%;
    text-align: left;
}

.header-top .login{
    width: 20%;
    text-align: right;
}

.header-top nav{
    width: 60%;
    text-align: center;
}



.header-top .logo,
.header-top nav,
.header-top .login{
    padding: 6px;
} 

.header-bottom > .container{
    display: flex;
    max-width: 900px;
    min-height: 200px;
    flex-wrap: wrap;
    justify-content: center;

}

a{
    color: white;
}

h1{
    text-align: center;
    font-size: 60px;
    color: white;
}

p{
    font-size: 20px;
    color: white;
    text-align: center;
}

/*main*/
section{
    padding: 50px;
}

.bkg-grey{
    background-color: rgb(199, 197, 197);
}

.bigcolumn{
    width: 60%;
    min-height: 400px;
    
}

.littlecolumn{
    width: 40%;
    min-height: 400px;
}

section > .container{
    display: flex;
    
}

.column{
    display: flex;
    background-color: green;
    width: 100%;
    min-height: 400px;
    border: 1px dashed white;

}

.littlecolumn > p{
    color: black;
    text-align: left;
}

h2{
    font-size: 35px;
    text-align: left;
}

/*footer*/
footer{
    background-color: #3a3737;

}
footer > .container{
    display: flex;
    padding: 15px 0;
}
.col1{
    width: 30%;
    background-color: #f08080;
    min-height: 400px;
    border: 1px dashed black;

}

.col2{
    display: flex;
    width: 70%;
    background-color: #20b2aa;
    min-height: 400px;
    border: 1px dashed white;


}

.col-inner{
    
    width: 25%;
    border: 1px dashed white;
    

}

.footer-bottom{
    background-color: #7fffd4;
    width: 90%;
    border: 1px dashed white;
    min-height: 50px;
    margin: auto;
}

.footer-bottom > .container{
    display: flex;
    padding: 15px;
    justify-content: space-between;
}

#logo{
    background-color: white;
    padding: 6px 14px;
}



